/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
@font-face {
    font-family: sansation_light;
    src: url(fonts/sansation_light.woff);
}
a:hover{
	text-decoration: none;
}
body{background:#fff;font-family: 'sansation_light'Arial,Helvetica, sans-serif;}
.bg{background:#fff;}
/*----- header top bar style area start ------*/
#header {
  background:#34495e none repeat scroll 0 0;
  overflow: hidden;
}
.logo_add > img {
  max-width: 480px;
}
.home_text h1 {
    color: #2c82c9;
    font-size: 30px;
    padding-bottom: 13px;
    text-align: center;
}
.home_text > p {
    color: #34495e;
    font-size: 14px;
    padding: 5px 0;
}
.home_text > h3 {
    color: #3498db;
}
.home_text > h2 {
    color: #27ae60;
}
.home_text h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.home_text > ul li {
    color: #0f3057;
    padding: 5px 0;
}
.top_header_bar {
    padding: 5px 0;
}
.logo {
	padding: 8px;
}
.logo a {
}
.logo a img {
    width: 100%;
}
.top_header_menu {
  font-size: 16px;
  font-weight: 500;
  padding-top: 17px;
  text-align: center;
}
.top_header_menu a{
	text-decoration:neno;
}
.top_header_menu ul {
    margin: 0;
    padding: 0;
}
.top_header_menu ul li {
    float: left;
    list-style: outside none none;
}
.top_header_menu ul li a {
    color: #fff;
    font-weight: 700;
    padding: 10px;
}
.top_header_menu ul li a:hover {
    text-decoration: none;
}


.help_support {
    overflow: hidden;
	padding-top: 19px;
	text-align: center;
}
.help_support a {
    color: #fff;
    font-weight: 700;
}
.search_area {
    padding-top: 10px;
}
.search_area_bar {
  background: rgba(0, 0, 0, 0) none repeat fixed 0 0;
}
.all_product_button {
    padding-top: 19px;
    text-align: center;
	
}
.all_product_button > a{border:1px solid #fff;padding:5px;text-transform:upper-alpha}
.all_product_button > a:hover {
  border: 1px solid #fff;
  color: #fff;
  padding: 5px;
  text-decoration: none;
}
.all_product_button > a:focus {
  color: #fff;
}
.allproductbutton {
    color: #fff;
    font-weight: 700;
}

.allproductbutton_bag {
  background: #fff none repeat scroll 0 0;
  margin: 66px 0 0;
  overflow: hidden;
  padding: 10px;
}
.allproduclist{border-left: 1px solid #ddd;}

.col-md-3.allproduclist > ul {
    margin: 0;
    padding: 0;
    text-align: left;
}
.col-md-3.allproduclist > ul > li {
    padding: 3px 2px;
	
}
.col-md-3.allproduclist > ul > li > a{
    color: #1d8964;
    text-decoration: none;
}
.col-md-3.allproduclist > ul > li > a:hover{
    color: #000;
    text-decoration: none;
}


#body_area {
  margin-top: 40px;
  overflow: hidden;
}
.home_information {
  overflow: hidden;
}

.welcome_area {
  margin-bottom: 50px;
}
.welcome_area h2{color: #000;
font-weight: 700;
margin: 0;
padding-bottom: 15px;}

.welcome_area p{}
.logo_add {
  padding-bottom: 24px;
}
.home_catagore {
  overflow: hidden;
}
.home_catagore p{}
.top_Categories{}
.home_cat_title {
  overflow: hidden;
}
.home_cat_title > h2 {
  background: #34495e none repeat scroll 0 0;
  color: #fff;
  font-size: 25px;
  padding: 10px 0;
  text-align: center;
}
.top_Categories a{}
.top_Categories a:hover{color:#129074;text-decoration:neno;list-style:neno;}

.top_Categories i{font-size: 50px;
padding: 0 0 15px;
}
.top_Categories a p {
  color: #23527c;
  font-size: 15px;
  font-weight: 700;

}
.fa.fa-hand-peace-o.product:hover {color: #FF7747;}

.product_cities{}
.product_cities h3{
	margin: 0;
	font-size: 16px;
	padding-bottom: 10px;
	color: #000;
	text-align: right;
	font-weight:700;
}
.product_cities ul{
	margin: 0;
	padding: 0;
	text-align: right;
}
.product_cities ul li{list-style: outside none none;}
.product_cities ul li a{color: #0570b6;
font-size: 15px;}
.product_cities ul li a:hover{color:#118B72;text-decoration:none; list-style:none;}

.cat_img_name {
  border: 1px solid #ddd;
  float: left;
  margin: 5px;
  overflow: hidden;
  padding: 5px;
  text-align: center;
  width: 218px;
}
.cat_img_name:hover{border: 1px solid #118B72;}
.cat_img_name img {
  display: block;
  max-height: 160px;
  max-width: 100%;
  min-height: 160px;
  min-width: 100%;
  padding-bottom: 5px;
  text-align: center;
}
.cat_img_name h5 {
  border-top: 1px solid #ddd;
  margin: 0;
  padding: 10px 0;
}
.butadd {
 
  border: 1px solid #fff;
  padding:10px;
}
.butadd:hover {
  background: #dc0000;
  border: 1px solid #fff;
  
}
.butadd:hover a{
 text-decoration:none;
  
}


.single_product {
border: 1px solid #ddd;
font-size: 16px;
margin: 5px;
overflow: hidden;
padding: 5px;
text-align: center;
}
.single_product a{}
.single_product a:hover{text-decoration:none;color:129074}
.single_product a span {
	padding-top:5px;
}
.single_product a span:hover {
	color:#129074;
}
.single_product:hover {border: 1px solid #129074;}



/*-----------*/

.product_shop_item{}
.product_shop_item > h3 {
  font-weight: bold;
  margin: 0;
  padding-bottom: 10px;
}
.col-md-12.single_product_shops-area {
  padding-bottom: 10px;
}
.single_product_shops {
  border: 1px solid #ddd;
  margin: 0 0 10px;
  overflow: hidden;
  padding: 10px;
}
.single_product_shops:hover{border:1px solid #129074}
.single_product_shops img {
  max-height: 150px;
  max-width: 230px;
  min-height: 150px;
  min-width: 230px;
}
.single_product_shops a{}
.single_product_shops a:hover{
	
}
.single_product_shops a > h4 {
  font-size: 14px;
}

.single_product_shops a > h5{}
.single_product_shops a > h6{
	font-size: 13px;
}
.single_product_shops a > p{}


/*------- Quick Search  -------*/
.product_cities {
  border: 1px solid #ddd;
  padding: 10px;
}
.type-catagore-p {
  font-size: 16px;
}
.type-catagore {
  padding: 8px;
  width: 100%;
}
.product_cities select {
  margin: 0 0 5px;
}
.product_cities select {
  margin-bottom: 5px;
}
.bts {
  margin-top: 10px;
  text-align: center;
}
.search-area h3 {
  background: #34495e none repeat scroll 0 0;
  color: #fff;
  font-weight: 700;
  margin: 0;
  padding: 10px;
  text-align: center;
}
#scrollUp {
  background-color: #555;
  bottom: 20px;
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
  padding: 8px 18px;
  right: 20px;
  text-decoration: none;
	-webkit-transition: background 200ms linear;
	-moz-transition: background 200ms linear;
	-o-transition: background 200ms linear;
	transition: background 200ms linear;
	-webkit-backface-visibility: hidden;
}

#scrollUp:hover {
    background-color: #000;
}
/*----- Single Product Pages Style ----*/


.badcome_area {
    overflow: hidden;
}
.badcome_area p {
    border: 1px dashed #ddd;
    padding: 10px;
}
.badcome_area p a {
    color: #34495e;
    text-transform: uppercase;
}
.badcome_area p a:hover {
  color: #ff6766;
  text-transform: uppercase;
  text-decoration: none;
}
.single_product_area > .col-md-12 {
  padding: 0;
}
.single_product_area {
  border: 1px dashed #ddd;
  overflow: hidden;
}
.hear_single_product {
  background: rgba(0, 0, 0, 0) url("images/header-bd.png") repeat scroll 0 0;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
}
.hear_single_product h2
{
color: rgb(8, 8, 8);
font-size: 35px;
text-shadow: rgb(171, 149, 149) 3px 4px 2px;
}
.hear_single_product > p {
  color: #000;
  font-size: 16px;
}
.product-slider-img {
  height: 250px !important;
  max-height: 250px !important;
  min-height: 250px;
  overflow: hidden;
  width: 100%;
}
.product-slider-img img {
  height: 250px !important;
  overflow: hidden;
  width: 100%;}

.product-slider-text > .col-md-8 {
  padding: 0 10px 0 0;
}
.product-slider-text > .col-md-4 {
  padding: 0 5px;
}

.sing_Mess {
  border: 1px solid #ddd;
  margin-top: 10px;
  overflow: hidden;
  padding: 10px;
}
#addmess {
  display: none;
}
.quick-info {

}
.quick-info h4 {
  background: #34495e none repeat scroll 0 0;
  color: #fff;
  margin-top: 0;
  padding: 8px;
  font-size: 20px;
}
.quick-info > p {
  font-size: 16px;
}
.quick-info > p:hover {
  color:#ff6766;
}
.quick-info p i {
  font-size: 20px;
  padding: 0px 15px 0px 0px;
  text-align: center;
}
.quick-info p:hover i{
	animation-name: rotateIn;
	animation-duration: 1.5s; 
	color:#ff6766;
}
.social-add-area.social-icons-colored {
  margin: 0;
  padding: 0;
}
.single_body_content {
  overflow: hidden;
}
.single_body_content > p {
  font-size: 15px;
  line-height: 25px;
}
.single_body_content > h2 {
    border-bottom: 1px solid #34495e;
	padding: 1px 0;
}
.single_body_content h2 span {
    background: #34495e none repeat scroll 0 0;
    color: #fff;
    padding: 4px 20px;
    text-align: center;
	font-size: 20px;
}
.single_content {
  padding: 3px 15px;
}
.single_add_product > h2 {
    border-bottom: 1px solid #34495e;
	padding: 1px 0;
}
.single_add_product h2 span {
    background: #34495e none repeat scroll 0 0;
    color: #fff;
    padding: 4px 20px;
    text-align: center;
	font-size: 20px;
}
.one_product img {
  height: 195px;
  width: 230px;
}
.one_product {
  margin: 5px 0;
  overflow: hidden;
  padding: 0px 0px 20px 0px;
}


.sin_pro_footer {
  background: #34495e none repeat scroll 0 0;
  color: #fff;
  overflow: hidden;
  padding: 10px 0;
  margin-top: 10px;
}
.sin_pro_footer p {
  margin: 0;
}
.right_footer_area > p {
    float: right;
}
.left_footer_area > p {
    float: left;
}
.right_footer_area a{
	color:#fff;
	text-decoration:none;
}
.right_footer_area a:hover{
	color:#ea6153;
	text-decoration:none;
}

.lb-data {
  background: #ddd none repeat scroll 0 0;
  color: #000;
  overflow: hidden;
  padding: 10px;
}
.lb-data .lb-number {
  clear: left;
  color: #999;
  display: block;
  font-size: 12px;
  padding: 10px 0 0;
}
.single_add_con_addres {
    overflow: hidden;
}
.single_add_con_addres h4{
    border-bottom: 1px solid #34495e;
	padding: 5px 0;
}
.single_add_con_addres h4 span{
	background: #34495e none repeat scroll 0 0;
	color: #fff;
	padding: 4px 20px;
	text-align: center;
	font-size: 20px;
}
.single_add_con_addres p{}
.single_add_con_addres p:hover{
	color:#ff6766;
}
.single_add_con_addres p i {
    font-size: 20px;
    padding-right: 13px;
}
.single_add_con_addres p:hover i {
	animation-name: rotateIn;
	animation-duration: 1.5s; 
	color:#ff6766;
}
.offer-area {
  overflow: hidden;
}
.offer-area h4{
    border-bottom: 1px solid #34495e;
	padding: 1px 0;	padding: 5px 0;
}
.offer-area h4 span{
	background: #34495e none repeat scroll 0 0;
	color: #fff;
	padding: 4px 20px;
	text-align: center;
	font-size: 20px;
}

.offer-images {
  background: rgba(0, 0, 0, 0) url("images/offer.png") no-repeat scroll 0 0;
  height: 200px;
  width: 100%;
}
.offer-images > p {
  font-size: 34px;
  padding-top: 68px;
  text-align: center;
}
/*======================================================
footer section styles
======================================================*/
.footer {
  background: #2f2f2f none repeat scroll 0 0;
  overflow: hidden;
  padding: 20px 0;
  margin-top: 20px;
}
.footer-item{
	overflow:hidden;
}

.footer-item h2 {
  border-bottom: 1px solid #3a3a3a;
  color: #eee;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.footer-item p{
  color: #999;
  font-size: 16px;
  line-height:22px;
  font-weight: 400;
}








.footer-menu a {
    color: #b4b7ba;
    display: inline-block;
    width: 100%;
	text-decoration:none;
	font-size:14px;
}
.footer-menu a:hover {
    color: #fff;
}
.footer-menu > ul {
  padding: 0;
}
.footer-menu li {
    border-bottom: 1px solid #3e464e;
    display: inline-block;
    line-height: 28px;
    width: 100%;
}

.footer-menu li i {
    float: right;
    line-height: 28px;
}



.f_development {
  color: #fff;
  float: right;
  overflow: hidden;
}
.f_development img {
  max-width: 60px;
  min-width: 59px;
  padding: 2px;
}
.f_development > p {
  margin-bottom: 0;
}
.f_social {
  overflow: hidden;
  text-align: center;
}
.f_copyright > p {
  margin-bottom: 0;
}
.copyright{
	background:#252525;
	padding:10px 0;
	overflow:hidden;
}
.copyright p {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}





/*social site*/

.social-icons, .social-icons-colored {
    list-style-type: none;
    margin: 0;
}
.social-icons li, .social-icons-colored li {
    display: inline-block;
    margin-right: 5px;
}
.social-icons li:last-child, .social-icons-colored li:last-child {
    margin-right: 0;
}
.social-icons li a {
    border: 2px solid #222;
    color: #222;
    display: block;
    height: 33px;
    line-height: 30px;
    text-align: center;
    width: 33px;
}
.social-icons li a:hover {
    background: #222;
    color: #fff;
}
.social-icons-colored li a {
    background: rgba(255, 255, 255, 0.05) none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: #ccc;
    display: block;
    height: 28px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    width: 28px;
}
.social-icons-colored li a:hover {
    color: #fff;
}
.social-icons-colored li.facebook a:hover, .social-icons-colored.branded li.facebook a {
    background: #3b5998;
}
.social-icons-colored li.twitter a:hover, .social-icons-colored.branded li.twitter a {
    background: #00aced;
}
.social-icons-colored li.behance a:hover, .social-icons-colored.branded li.behance a {
    background: #1769ff;
}
.social-icons-colored li.delicious a:hover, .social-icons-colored.branded li.delicious a {
    background: #3274d1;
}
.social-icons-colored li.deviantart a:hover, .social-icons-colored.branded li.deviantart a {
    background: #4b5d50;
}
.social-icons-colored li.digg a:hover, .social-icons-colored.branded li.digg a {
    background: #14589e;
}
.social-icons-colored li.dribbble a:hover, .social-icons-colored.branded li.dribbble a {
    background: #ea4c89;
}
.social-icons-colored li.foursquare a:hover, .social-icons-colored.branded li.foursquare a {
    background: #2398c9;
}
.social-icons-colored li.github a:hover, .social-icons-colored.branded li.github a {
    background: #4183c4;
}
.social-icons-colored li.google a:hover, .social-icons-colored.branded li.google a {
    background: #245dc1;
}
.social-icons-colored li.googleplus a:hover, .social-icons-colored.branded li.googleplus a, .social-icons-colored li.google-plus a:hover, .social-icons-colored.branded li.google-plus a {
    background: #d14836;
}
.social-icons-colored li.instagram a:hover, .social-icons-colored.branded li.instagram a {
    background: #3f729b;
}
.social-icons-colored li.jsfiddle a:hover, .social-icons-colored.branded li.jsfiddle a {
    background: #4679a4;
}
.social-icons-colored li.linkedin a:hover, .social-icons-colored.branded li.linkedin a {
    background: #007fb1;
}
.social-icons-colored li.pinterest a:hover, .social-icons-colored.branded li.pinterest a {
    background: #cb2027;
}
.social-icons-colored li.reddit a:hover, .social-icons-colored.branded li.reddit a {
    background: #ff4500;
}
.social-icons-colored li.skype a:hover, .social-icons-colored.branded li.skype a {
    background: #00aff0;
}
.social-icons-colored li.tumblr-share a:hover, .social-icons-colored.branded li.tumblr-share a {
    background: #2c4762;
}
.social-icons-colored li.vimeo a:hover, .social-icons-colored.branded li.vimeo a {
    background: #44bbff;
}
.social-icons-colored li.youtube a:hover, .social-icons-colored.branded li.youtube a {
    background: #cd332d;
}
.social-icons-colored li.flickr a:hover, .social-icons-colored.branded li.flickr a {
    background: #0063db;
}
.social-icons-colored li.email-share a:hover, .social-icons-colored.branded li.email-share a {
    background: #999;
}
.social-icons-colored.branded li a {
    color: #fff;
}
.social-icons-colored li a {
    border-radius: 3px;
}
.social-icons-colored li a:hover {
    color: #fff;
    opacity: 0.8;
}
.btn-social {
    color: #fff !important;
    text-align: left !important;
}
.btn-social:hover {
    opacity: 0.9;
}
.social-icons-colored.inversed a {
    color: #fff;
}
.social-icons-colored.rounded a {
    border-radius: 100%;
}
.social-icons-colored.inversed li.facebook a, .btn-facebook {
    background: #3b5998 !important;
}
.social-icons-colored.inversed li.twitter a, .btn-twitter {
    background: #00aced !important;
}
.social-icons-colored.inversed li.behance a {
    background: #1769ff;
}
.social-icons-colored.inversed li.delicious a {
    background: #3274d1;
}
.social-icons-colored.inversed li.deviantart a {
    background: #4b5d50;
}
.social-icons-colored.inversed li.digg a {
    background: #14589e;
}
.social-icons-colored.inversed li.dribbble a {
    background: #ea4c89;
}
.social-icons-colored.inversed li.foursquare a {
    background: #2398c9;
}
.social-icons-colored.inversed li.github a {
    background: #4183c4;
}
.social-icons-colored.inversed li.google a {
    background: #245dc1;
}
.social-icons-colored.inversed li.googleplus a, .social-icons-colored.inversed li.google-plus a {
    background: #d14836;
}
.social-icons-colored.inversed li.instagram a {
    background: #3f729b;
}
.social-icons-colored.inversed li.jsfiddle a {
    background: #4679a4;
}
.social-icons-colored.inversed li.linkedin a {
    background: #007fb1;
}
.social-icons-colored.inversed li.pinterest a {
    background: #cb2027;
}
.social-icons-colored.inversed li.reddit a {
    background: #ff4500;
}
.social-icons-colored.inversed li.skype a {
    background: #00aff0 ;
}
.social-icons-colored.inversed li.tumblr a {
    background: #2c4762;
}
.social-icons-colored.inversed li.vimeo a, .social-icons-colored.inversed li.vimeo-share a {
    background: #44bbff ;
}
.social-icons-colored.inversed li.youtube a {
    background: #cd332d ;
}
.social-icons-colored.inversed li.flickr a {
    background: #0063db;
}
.icon-box.icon-box-style1 .icon-box-head {
    border-bottom: 2px solid #f8f8f8;
    display: block;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.icon-box.icon-box-style1 .icon-box-head::before, .icon-box.icon-box-style1 .icon-box-head::after {
    content: " ";
    display: table;
}
.icon-box.icon-box-style1 .icon-box-head::after {
    clear: both;
}
.icon-box.icon-box-style1 .ico {
    border: 1px solid #f8f8f8;
    color: #222;
    float: left;
    font-size: 20px;
    height: 40px;
    line-height: 44px;
    margin-right: 15px;
    text-align: center;
    transition: all 0.3s ease 0.1s;
    width: 42px;
}
.icon-box.icon-box-style1:hover .ico {
    color: #fff;
}
.icon-box.icon-box-style1 .icon-box-head h4 {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 10px;
}
.icon-box.icon-box-style1 p {
    margin-bottom: 0;
}

/*-- Product Area --*/

/* general styling for all the hovers */
	
.hover {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hover .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hover img {
  display: block;
  position: relative;
}

.hover h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hover button.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  border-radius: 0px;
  background-color: transparent;
}

.hover button.info:hover {
  box-shadow: 0 0 5px #fff;
}

/* effect hover 10 */

.ehover10 img {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}
.ehover10:hover img {
-webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
}

.ehover10 .overlay {
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 4.75em;
	background-color: rgba(41, 103, 222, 0.8);
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.ehover10 button.info {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  color: #fff;
  float: left;
  font-size: 17px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}
.ehover10 button.info a{
	color:#fff;
}
.ehover10 p.icon-links a {
	float: right;
	color: #fff;
	font-size: 1.4em;
}

.ehover10:hover p.icon-links a:hover,
.ehover10:hover p.icon-links a:focus {
	color: #fff;
	border:1px solid #fff;
}

.ehover10 button,
.ehover10 p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

.ehover10 p.icon-links a span::before {
	display: inline-block;
	padding: 8px 10px;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.ehover10 button {
	display: inline-block;
}


.ehover10:hover .overlay,
.ehover10:hover button,
.ehover10:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.ehover10:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.ehover10:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.ehover10:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.ehover10:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}


.addsection img {
  width: 100%;
  height: 260px;
}
.nav-tabs > li {
  background: #ddd none repeat scroll 0 0;
  float: left;
  margin-bottom: -1px;
  border-bottom: 1px solid #000;
}